.vum-button {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  outline: none;
  transition: all 0.1s ease-in-out;

  &:active {
    transform: scale(0.98);
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: transparent;
    border-radius: 8px;
    transition: all 0.2s ease-in-out;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    content: "";
    border-radius: 12px;
    outline: 2px solid transparent;
    outline-offset: -2px;
    transition: outline 0.2s ease-in-out;
    transform: translate(-4px, -4px);
  }

  &:focus::before {
    outline: 2px solid var(--light-sub-text-color);
    transition: outline 0.1s ease-in-out;
  }

  &.-disabled:focus::before {
    outline: 2px solid transparent;
  }

  &.-href {
    &:hover {
      text-decoration: underline;
      text-decoration-thickness: 1px;
      text-underline-offset: 3px;
    }

    &.-disabled {
      pointer-events: none;
    }
  }

  &.-primary {
    color: var(--light-background-color);
    background-color: var(--dark-background-color);

    &.-disabled {
      color: var(--light-background-color);
      cursor: not-allowed;
      background-color: var(--light-sub-background-color);
    }

    &:hover::after {
      background-color: #eaeaea2e;
    }
  }

  &.-secondary {
    color: var(--light-text-color);
    background-color: transparent;
    outline: 2px solid var(--light-sub-text-color);
    outline-offset: -2px;

    &:hover::after {
      background-color: #eaeaea6a;
    }

    &.-disabled {
      color: var(--light-sub-background-color);
      cursor: not-allowed;
      outline-color: var(--light-sub-background-color);
    }

    &.-disabled:hover::after {
      background-color: transparent;
    }
  }

  &.-tertiary {
    color: var(--light-text-color);
    background-color: transparent;

    &:hover::after {
      background-color: #eaeaea6a;
    }

    &.-disabled {
      color: var(--light-sub-background-color);
      cursor: not-allowed;
    }

    &.-disabled:hover::after {
      background-color: transparent;
    }
  }

  &[data-is-dark] {
    &:focus::before {
      outline: 2px solid var(--dark-sub-text-color);
      transition: outline 0.1s ease-in-out;
    }

    &.-primary {
      color: var(--dark-background-color);
      background-color: var(--dark-text-color);

      &:hover::after {
        background-color: #0000002e;
      }

      &.-disabled {
        color: var(--dark-text-color);
        cursor: not-allowed;
        background-color: var(--dark-sub-text-color);
      }

      &.-disabled:hover::after {
        background-color: transparent;
      }
    }

    &.-secondary {
      color: var(--dark-text-color);
      background-color: transparent;
      outline: 2px solid var(--dark-text-color);
      outline-offset: -2px;

      &:hover::after {
        background-color: #eaeaea6a;
      }

      &.-disabled {
        color: var(--dark-sub-text-color);
        cursor: not-allowed;
        outline-color: var(--dark-sub-text-color);
      }

      &.-disabled:hover::after {
        background-color: transparent;
      }
    }

    &.-tertiary {
      color: var(--dark-text-color);
      background-color: transparent;

      &:hover::after {
        background-color: #eaeaea6a;
      }

      &.-disabled {
        color: var(--dark-sub-text-color);
        cursor: not-allowed;
      }

      &.-disabled:hover::after {
        background-color: transparent;
      }
    }
  }
}
